.wrapper {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .properties-container {
    gap: 2rem;
  }
  
  .properties-container .search-bar {
    width: clamp(12rem, 100%, 28rem);
    border-radius: 30px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    flex-wrap: nowrap;
  }
  
  .properties-container .search-bar .button {
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
  }
  
  .properties-container .search-bar input {
    width: 70%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%; 
    max-width: 300px; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
    width: 20vw; /* Ensures the image takes up the full width of the card */
  }
  
  .card-body {
    padding: 15px;
    height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .card p {
    margin: 10px 0;
    flex-grow: 1; 
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    justify-content: center; 
  }
  
  @media (max-width: 992px) {
    .col-md-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  